@page
@model MovieDescriptionModel

<h1>@Model.Movie.NameMovie</h1>
<img src="@Model.Movie.ImageUrl" alt="" loading="lazy">
<p>Recommendation: @Model.Movie.Recommendation</p>
<p>Time: @Model.Movie.Time</p>
<p>Director: @Model.Movie.Director</p>
<p>Actor: @Model.Movie.Actor</p>
<p>Synopsis: @Model.Movie.Synopsis</p>
